
.calContainer {
    margin-left: 40%;
    background: orangered;
}


table {
    width: 310px;
    margin: 50px auto;
    background: orangered;
    border: none;
    border-radius: 10px;
    padding: 0px 20px 20px;
}

.heading {
    color: white;
    font-size: 130% ;
    text-align: center;
}

#input, #answer {
    width: 260px;
    height: 50px;
    font-size: 210%;
    text-align: right;
    border: none;
}

#input {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px black;
    color: #1e1e1e;
}

#answer {
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px black;
}

input[type=button] {
    height: 60px;
    width: 60px;
    font-size: 130%;
    color: blue;
    background: white;
    margin: 1px;
    border-radius: 8px;
    border: none;
}

input[type=button]:hover {
    background: #cbcbcb;
    cursor: pointer;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;

}

/* Navigation links */

* {
    box-sizing: border-box;
}
.navbar a {

    float: left;
    width: 14.28%;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}



