/* -------------------------------------------  */
html, body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

p, label{
    font-size: 12px;
}



.calContainer {
    background: orangered;
    margin-top: 40px;
}


table {
    width: 310px;
    margin: 50px auto;
    background: orangered;
    border: none;
    border-radius: 10px;
    padding: 0px 20px 20px;
}

.heading {
    color: white;
    font-size: 130% ;
    text-align: center;
}

#input, #answer {
    width: 260px;
    height: 50px;
    font-size: 210%;
    text-align: right;
    border: none;
}

#input {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px black;
    color: #1e1e1e;
}

#answer {
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px black;
}

input[type=button] {
    height: 60px;
    width: 60px;
    font-size: 130%;
    color: blue;
    background: white;
    margin: 1px;
    border-radius: 8px;
    border: none;
}

input[type=button]:hover {
    background: #cbcbcb;
    cursor: pointer;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
    padding-top: 20px;
    background-color: gray();

}

/* Navigation links */

* {
    box-sizing: border-box;
}
.navbar a {
    alignment-baseline: bottom;
    float: left;
    font-family: Helvetica, serif;
    width: 14.28%;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-bottom: 20px;
    margin-top: 10px;
    -moz-transition: height 120ms, margin-top 120ms;
    -webkit-transition: height 120ms, margin-top 120ms;







}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Add a red background color to navigation links on hover */
a:hover {
    margin-top: 0px;
    height: 60px;
    text-decoration: none;

}

.navcont {
    background-color: white;
}




